body {
    font-family: 'Roboto', sans-serif;
}

.card.selected {
    border-width: 2px;
    border-color: #007bff
}

.bg-dark {
    color: white;
    background-color: #cccccc;
    background-image: grey;    
}

.theater-card, .movie-card, .restaurant-card, .theaterMovieCard, .bg-secondary {
    color: white;
    background-color: #cccccc;
    background-image: url("../images/gun_metal.png");
    background-repeat: repeat;
}

.background-image{
    background-image: url("../images/datenight3.jpg");
    background-size: 100%;
    opacity: 0.75;
}

#map {
    width: 100%;
    height: 400px;
    margin: 10px auto;
}
