body {
    /*font-family: 'Libre Baskerville', serif;*/
    font-family: 'Roboto', "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.card.selected {
    border-width: 2px;
    border-color: #007bff
}

.background-image{
    background-image: url("../images/datenight3.jpg");
    background-size: 100%;
    opacity: 0.75;
}
